@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
ul{
    list-style-type:none;
}
i{
    color: black;
    font-size: 15px;
}
